body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom, #30388D, #1d224f);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.menu {
    display: flex;
    gap: 130px;
    left: 0;
    padding: 20px 0;
    padding-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
}

.menu a {
    text-decoration: none;
    color: white;
}